/*assets/css/burger_style.css*/

body {
  background:yellow;
  font-family: sans-serif;

}
 .container {
  box-shadow: 5px 10px 8px #888888;
  border: 5%, solid, black;
  border-radius: 25px;
  background: linear-gradient(to right, red , rgb(255, 174, 0));
  color: yellow;
  text-align: left;
  padding:20px;
  padding-top: 10px;
  margin: auto;
  margin-top: 7%;
  width: 80%;
 }
h1 {
  letter-spacing: 2px;
  text-align: center;
  text-decoration: underline;
}
 img {
  float:right;
  padding-right:80px;
 }


button {
  border-radius: 25px;
}
 button:hover {
   background: blue;
   color:white;
 }