/*assets/css/burger_style.css*/

body {
  background:white;

}
 .container {
  border: 5%, solid, black;
  border-radius: 25px;
  background: red;
  color: yellow;
  text-align: left;
  padding:10px;
  margin: auto;
  width: 80%;

 }